# Data Model Exercise with Python

# Creating a table with PostgreSQL

In [37]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in ./opt/anaconda3/lib/python3.9/site-packages (2.8.6)

## Import the library

In [38]:
import psycopg2

### Create a connection to database

In [39]:
try:

    conn=psycopg2.connect("host=Localhost dbname=postgres user=postgres password= Taran5495/")
except psycopg2. Error as e:
    print("Error:Could not make connection to the Postgres database")
    print(e)

### Use the connection to get a cursor that can be used to execute queries

In [40]:
try:
    cur= conn.cursor()
except psycopg2. Error as e:
    print("Error:Could not make connection to the Postgres database")
    print(e)

### Set automatic commit to be true so that each action is committed without having to call con.commit() after each command

In [41]:
conn.set_session(autocommit=True)

### Create a Database

In [42]:
try:
    cur.execute("create database myfirstdb ")
except psycopg2. Error as e:
    print("Error:Could not make connection to the Postgres database")
    print(e)

Error:Could not make connection to the Postgres database
database "myfirstdb" already exists

### Add database name. Close our connection to default database and get a new cursor

In [43]:
try:
    conn.close()
except psycopg2. Error as e:
    print("Error:Could not make connection to the Postgres database")
    print(e) 
    
try:
    
    conn=psycopg2.connect("host=Localhost dbname= myfirstdb user=postgres password= Taran5495/")
except psycopg2. Error as e:
    print("Error:Could not make connection to the Postgres database")
    print(e)
    
try:
    cur= conn.cursor()
except psycopg2. Error as e:
    print("Error:Could not make connection to the Postgres database")
    print(e)    
    
conn.set_session(autocommit=True)

### Create table for students which includes columns:
student_id
name
age
gender
subject
marks

In [46]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students(students_id int, name varchar,\
    age int,gender varchar,subject varchar,marks int);")
except psycopg2. Error as e:
    print("Error:Could not make connection to the Postgres database")
    print(e)

### Insert the rows in the table

In [49]:
try:
    cur.execute("INSERT INTO students(students_id , name ,age ,gender,subject ,marks )\
                Values(%s , %s, %s,%s,%s, %s)",\
               (1,"Raj",23,"Male","Python", 85))
except psycopg2. Error as e:
    print("Error:Inserting rows")
    print(e) 
    
try:
    cur.execute("INSERT INTO students(students_id , name ,age ,gender,subject ,marks )\
                Values(%s , %s, %s,%s,%s, %s)",\
               (2,"Priys",22,"Female","Python", 88))
except psycopg2. Error as e:
    print("Error:Inserting rows")
    print(e)

### Validate your data was inserted into the table

In [51]:
try:
    cur.execute("SELECT * FROM students;")
except psycopg2. Error as e:
    print("Error:Inserting rows")
    print(e) 
    
row = cur.fetchone()   
while row:
    print(row)
    row=cur.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priys', 22, 'Female', 'Python', 88)

### Close connection

In [52]:
cur.close()
conn.close()